<div class="row justify-content-end mb-3">
    <div class="col-3">
        <label>
            Sort By
            <select id="sortSelector" [formControl]="sortSelect" (change)="sortDogs($event)">
                <option *ngFor="let option of sortOptions" [value]="option.apiString" [attr.selected]="option.selected==true ? true : null">{{ option.text }}</option>
            </select>
        </label>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col" *ngFor="let dog of dogService.dogList">
        <app-dog-card [dog]="dog"></app-dog-card>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <mat-paginator [length]="dogService.searchResult.total" [pageSizeOptions]="[25, 50, 100]" aria-label="Select page" [pageSize]="this.dogService.searchSize" (page)="handlePageEvent($event)"></mat-paginator>
    </div>
</div>
