<div class="row justify-content-end mb-3" *ngIf="!this.dogService.inFavorites && this.dogService.searchResult.resultIds.length > 0">
    <button id="filterBtn" class="col-12 col-sm-6 col-md-3" mat-button color="primary" (click)="showFiltersMenu()">Filters</button>
    <div class="col-12 col-sm-8 col-md-4 text-center">
        <label id="sortSelectorLabel">
            Sort By
            <select id="sortSelector" [formControl]="sortSelect" (change)="sortDogs($event)">
                <option *ngFor="let option of sortOptions" [value]="option.apiString" [attr.selected]="option.selected==true ? true : null">{{ option.text }}</option>
            </select>
        </label>
    </div>
</div>
<div class="row" *ngIf="this.dogService.favoriteDogs.length == 0 && this.dogService.inFavorites">
    <div class="alert alert-warning text-center">You haven't favorited any dogs yet!</div>
</div>
<div class="row" *ngIf="this.dogService.dogList.length == 0 && !this.dogService.inFavorites">
    <div class="alert alert-warning text-center">We couldn't find any dogs. Try again later.</div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3" *ngFor="let dog of dogService.dogList">
        <app-dog-card [dog]="dog"></app-dog-card>
    </div>
</div>
<div class="row" *ngIf="this.dogService.searchResult.resultIds.length > 0">
    <div class="col-12">
        <app-paginator></app-paginator>
    </div>
</div>
