.form-card {
    max-width: 400px;
    margin: 1rem auto;
}
mat-card-header, mat-card-actions {
    justify-content: center;
}
mat-card-header, mat-card-content {
    margin-bottom: 1rem;
}
mat-form-field, input {
    width: 100%;
}