<mat-card>
    <mat-card-header>
        <mat-card-title>Filters</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>Dog Breeds</mat-card-subtitle>
        <div id="breedContainer">
             <div *ngFor="let breed of breedList">
                <label>
                    <mat-checkbox color="primary" [(ngModel)]="breed.checked"></mat-checkbox>
                    {{ breed.name }}
                </label>
            </div>
        </div>
    </mat-card-content>
</mat-card>