<mat-form-field appearance="outline" class="mb-3">
    <mat-label>Zip Code</mat-label>
    <input type="text" matInput [formControl]="zipCode" placeholder="12345" [(ngModel)]="this.locationService.currentZipCode">
    <mat-error *ngIf="zipCode.invalid">{{ getZipCodeErrorMessage() }}</mat-error>
</mat-form-field>
<div class="mb-3" *ngIf='this.locationService.currentZipCode != ""'>
    <label class="mat-subtitle-2">Distance</label>
    <label class="mat-subtitle-2">{{ slider.value }} miles</label>
    <mat-slider min="0" max="50" step="5" showTickMarks discrete [displayWith]="distanceLabel" style="width:90%;">
        <input matSliderThumb #slider [(ngModel)]="distanceValue">
    </mat-slider>
</div>