<mat-card *ngIf="dog" class="dogCard">
    <mat-card-header>
        <mat-card-title>{{ dog.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ dog.img }}">
    <mat-card-content>
        <p><span>Breed:</span> {{ dog.breed }}</p>
        <p><span>Age:</span> {{ dog.age }}</p>
        <p><span>Zip Code:</span> {{ dog.zip_code }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="accent" (click)="addToFavorites(dog.id)">FAVORITE</button>
    </mat-card-actions>
</mat-card>